@include respond-above(xl) {
  .container {
    max-width: 1286px;
  }
}
@include respond-below(xl) {
}
@include respond-between(lg, xl) {
  .project-area {
    .all-project {
      .project-item {
        .card-body {
          padding: 81px 30px;
        }
      }
    }
  }
}
@include respond-between(md, lg) {
  .project-area {
    .all-project {
      .project-item {
        .card-body {
          padding: 43px 30px;
        }
      }
    }
  }
}
