@include respond-above(xl) {
  .container {
    max-width: 1286px;
  }
}
@include respond-above(md) {
  .about-me-area {
    .about-img-col {
      width: 450px !important;
      height: 500px !important;
      padding-left: 60px !important;
    }
  }
}
// max-width
@include respond-below(sm) {
} // max-width
@include respond-between(lg, xl) {
  .project-area {
    .all-project {
      .project-item {
        .card-body {
          padding: 81px 30px;
        }
      }
    }
  }
}
@include respond-between(md, lg) {
  .project-area {
    .all-project {
      .project-item {
        .card-body {
          padding: 43px 30px;
        }
      }
    }
  }
}
