@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 300;
}

section {
  padding: 75px 0px 55px;
}

span {
  color: crimson;
}

.common-button {
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 35px;
  border: 3px solid crimson;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.common-button:hover {
  color: black;
  background-color: crimson;
}

.gray-bg {
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.header-area .navbar .navbar-brand {
  font-size: 30px;
  font-weight: 600;
}
.header-area .navbar .navbar-nav .nav-link {
  color: white;
}
.header-area .navbar .navbar-nav .nav-link:hover {
  color: crimson;
}

.hero-area {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: -1;
}
.hero-area::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}
.hero-area .container {
  z-index: 2;
}
.hero-area .container .row .hero-content h1 {
  color: white;
  font-size: 48px;
}
.hero-area .container .row .hero-content h1 span {
  color: crimson;
}

.service-area .service-top h2 {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
  padding-bottom: 10px;
}
.service-area .service-top p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin: 0;
  padding-bottom: 70px;
}
.service-area .card-group .card {
  margin-bottom: 20px;
  position: relative;
  z-index: -1;
}
.service-area .card-group .card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
  z-index: 1;
}
.service-area .card-group .card .card-img-overlay {
  z-index: 3;
  padding: 30px;
}
.service-area .card-group .card .card-img-overlay .card-title {
  font-size: 18px;
  font-weight: 600;
}
.service-area .card-group .card .card-img-overlay .card-text {
  font-size: 14px;
}

.project-area h2 {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
}
.project-area .all-project {
  margin-bottom: 20px;
}
.project-area .all-project .project-item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.project-area .all-project .project-item .card-body {
  padding: 102px 30px;
}
.project-area .all-project .project-item .card-body .card-title {
  font-size: 42px;
  font-weight: 400;
}
.project-area .all-project .project-item .card-body .card-title2 {
  font-size: 21px;
  font-weight: 400;
}
.project-area .all-project .project-item .card-body .card-text {
  font-size: 14px;
}
.project-area .all-project .project-item .project-img {
  width: 100%;
  max-height: 401px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.project-area .all-project .project-item .project-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
  z-index: 3;
}
.project-area .all-project .project-item .project-img img {
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}

.about-me-area .about-img-col .about-img-div {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}
.about-me-area .about-img-col .about-img-div::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 40px;
  height: 98%;
  width: 98%;
  border: 10px solid crimson;
  z-index: -1;
}
.about-me-area .about-img-col .about-img-div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-me-area .about-content h2 {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 30px;
}
.about-me-area .about-content h4 {
  font-size: 22px;
  font-weight: 400;
}
.about-me-area .about-content p {
  font-size: 16px;
  padding-bottom: 40px;
}

.contact-area h2 {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
  text-align: center;
}
.contact-area .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  -webkit-box-shadow: 0px 0px 18px 0 rgba(0, 0, 0, 0.1725490196);
          box-shadow: 0px 0px 18px 0 rgba(0, 0, 0, 0.1725490196);
  -webkit-transition: 0.3s ease box-shadow;
  transition: 0.3s ease box-shadow;
}
.contact-area .contact-item:hover {
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.1725490196);
          box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.1725490196);
}
.contact-area .contact-item .contact-icon {
  width: 75px;
  height: 75px;
}
.contact-area .contact-item .contact-cont h3 {
  font-size: 25px;
  font-weight: 400;
}
.contact-area .contact-item .contact-cont p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.footer-area {
  margin: 0;
  padding: 75px 0 5px;
}
.footer-area .footer-content .footer-icon a {
  color: white;
}
.footer-area .footer-content .footer-icon a:hover {
  color: crimson;
}
.footer-area .footer-content .footer-icon a i {
  font-size: 40px;
  padding-bottom: 30px;
}
.footer-area .footer-content .footer-icon a i:not(last-child) {
  padding-left: 15px;
}
.footer-area .footer-content .copyright-text {
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */